*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
html,
body{
  height: 100%;
  width: 100%;
}

main{
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button{
  padding: 20px 100px;
  border-radius: 20px;
  background: linear-gradient(rgb(187, 87, 187),purple);
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
button:active{
  scale: 0.96;
}
img{
  height: 200px;
}

